.btn {
	font-family: $font-family-sans-serif;
	font-size: 1em;
	border-width: 2px;

	&.btn-tilt {
		transform: perspective(200px) rotateX(0deg) rotateY(0deg);
		transition: all 0.25s cubic-bezier(0.34,1.61,0.7,1);
		cursor: pointer;
	} 

	i:first-child {
		position: relative;
		left: -2px;
	}

	i:last-child {
		position: relative;
		right: -2px;
		&:first-child {
			left: auto;
			right: auto;
		}
	}

	&.btn-sm {
		i:first-child {
			top: 1px;
		}
	}
}

.btn-primary { @include button-variant(#fff, theme-color("primary"), theme-color("primary")); }
.btn-outline-primary { @include button-outline-variant(theme-color("primary")); }

.btn-success { @include button-variant(#fff, theme-color("success"), theme-color("success")); }
.btn-outline-success { @include button-outline-variant(theme-color("success")); }

.btn-warning { @include button-variant(#fff, theme-color("warning"), theme-color("warning")); }
.btn-outline-warning { @include button-outline-variant(theme-color("warning")); }

.btn-info { @include button-variant(#fff, theme-color("info"), theme-color("info")); }
.btn-outline-info { @include button-outline-variant(theme-color("info")); }

.btn-danger { @include button-variant(#fff, theme-color("danger"), theme-color("danger")); }
.btn-outline-danger { @include button-outline-variant(theme-color("danger")); }

.btn-dark { @include button-variant(#fff, theme-color("dark"), theme-color("dark")); }
.btn-outline-dark { @include button-outline-variant(theme-color("dark")); }

.btn-white { @include button-variant(theme-color("dark"), #fff, #fff); }
.btn-outline-white { @include button-outline-variant(#fff, $body-color); }