*:focus {
	outline: none !important;
}

body {
	font-family: $font-family-serif;
	@if $pattern {
		background-image: url(img/#{$pattern}.png);
		background-position: center center;
		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
			background-image: url(img/#{$pattern}2x.png);
			background-size: 410px;
		}
	}
	@include media-breakpoint-up(lg) {
		font-size: 1.2em;
	}
	@include media-breakpoint-up(xl) {
		font-size: 1.4em;
	}
}

.container {
	padding: 0 30px;
	position: relative;
	@include media-breakpoint-up(sm) {
		padding: 0 15px;
		width: 75%;
	}
	@include media-breakpoint-up(md) {
		width: 60%;
	}
}

.ratio {
	position: relative;
	display: block;
	&:before {
		display: block;
		content: "";
		width: 100%;
	}
	> * {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

.sixteen-nine {
	@extend .ratio;
	&:before { padding-top: 56.25%; }
}

.four-three {
	@extend .ratio;
	&:before { padding-top: 75%; }
}

.one-one {
	@extend .ratio;
	&:before { padding-top: 100%; }
}

.strong {
	font-family: $font-family-sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	text-shadow: 2px 2px #f4f4f4, 4px 4px rgba(black, .1);
}

p strong {
	@extend .strong;
}

div.strong {
	font-size: 1.5rem;
	@include media-breakpoint-up(sm) {
		font-size: 2rem;
	}
}

html.mobile {
	#hi {
		height: 500px;
	}

	#motion {
		display: none;
	}
}

html.no-backgroundblendmode {
	section.section-odd {
		background-image: none !important;
	}
}

svg {
	position: absolute;
	height: 0px;
}