@mixin button-outline-variant($color:#fff, $color-active:#fff) {
	$border: $color !default;

	color: $color;
	background-image: none;
	background-color: transparent;
	border-color: $color;

	@include hover {
		color: $color-active;
		background-color: $border;
		border-color: $color;
	}

	&:focus,
	&.focus {
		color: $color-active;
		background-color: $border;
		border-color: $color;
	}

	&:active,
	&.active,
	.open > &.dropdown-toggle {
		color: $color-active;
		background-color: $border;
		border-color: $border;

		&:hover,
		&:focus,
		&.focus {
			color: $color-active;
			background-color: darken($border, 17%);
			border-color: darken($border, 17%);
		}
	}

	&.disabled,
	&:disabled {
		&:focus,
		&.focus {
			border-color: lighten($border, 20%);
		}
		@include hover {
			border-color: lighten($border, 20%);
		}
	}
}


@mixin button-variant($color, $background, $border) {
	$active-background: darken($background, 10%);
	$active-border: darken($background, 10%);

	color: $color;
	background-color: $background;
	border-color: $border;
	@include box-shadow($btn-box-shadow);

	@include hover {
		color: $color;
		background-color: $active-background;
		border-color: $active-border;
	}

	&:focus,
	&.focus {
		color: $color;
		background-color: $active-background;
		border-color: $active-border;
	}

	&:active,
	&.active,
	.open > &.dropdown-toggle {
		color: $color;
		background-color: $active-background;
		border-color: $active-border;
		// Remove the gradient for the pressed/active state
		background-image: none;
		@include box-shadow($btn-active-box-shadow);

		&:hover,
		&:focus,
		&.focus {
			color: $color;
			background-color: darken($background, 17%);
			border-color: darken($background, 17%);
		}
	}

	&.disabled,
	&:disabled {
		&:focus,
		&.focus {
			background-color: $background;
			border-color: $border;
		}
		@include hover {
			background-color: $background;
			border-color: $border;
		}
	}
}

@mixin linear-gradient($direction, $color-stops...) {
	background: nth(nth($color-stops, 1), 1);
	background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
	background: linear-gradient($direction, $color-stops);
}

@mixin background-pattern() {
	background-blend-mode: multiply;
	@if $pattern {
		background-image: url(img/#{$pattern}.png);
		background-position: center center;
		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
			background-image: url(img/#{$pattern}2x.png);
			background-size: 410px;
		}
	}
}