section {
	padding: 10vh 0;

	h2 {
		font-family: $font-family-sans-serif;
		font-size: 3rem;
		text-transform: uppercase;
		font-weight: 700;
		padding: 0 4vw 2vh;
		color: black;
		text-shadow: 4px 4px #f4f4f4, 8px 8px rgba(black, .1);
		@include media-breakpoint-up(sm) {
			padding: 0 10vw 5vh;
		}
	}

	p.attention {
		margin: 1rem;
		@include media-breakpoint-up(sm) {
			margin: 2rem;
		}
		@include media-breakpoint-up(md) {
			margin: 4rem;
		}

		.btn + span {
			display: block;
			margin: 10px;

			@include media-breakpoint-up(sm) {
				display: inline-block;
			}
		}
	}
	
	@include media-breakpoint-up(md) {
		.container {
			width: 70%;
		}
	}

	&.section-odd {
		background-color: $brand-primary;
		@include background-pattern();
		color: white;

		h2 {
			color: white;
		}
		//box-shadow: inset 0px 1px rgba(black, .05);

		h2 {
			text-shadow: 4px 4px $brand-primary, 8px 8px rgba(black, .1);
		}

		+ .section-odd {
			box-shadow: none;
		}
	}
}