#top {
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 1;
	//@include linear-gradient(white, rgba(white, 0%));
	//background-color: rgba(white, .7);

	.nav {
		margin: 3vh 0 15px;

		@include media-breakpoint-up(sm) {
			margin: 10vh 0 50px;
			font-size: 1.1rem;
		}

		@include media-breakpoint-up(md) {
			font-size: 1.2rem;
		}

		@include media-breakpoint-up(lg) {
			font-size: 1.4rem;
		}

		a {
			color: white;
			transition: all .4s $ease-elastic .2s;
			font-weight: 700;
			transform-origin: bottom;

			&:hover {
				color: $brand-primary;
				transition: all .2s $ease-elastic;

				@include media-breakpoint-up(lg) {
					text-shadow: 0 10px 20px rgba(black, .25);
					transform: scale(1.2, 1.4);
				}
			}
		}
	}

	font-family: $font-family-sans-serif;
}